---
http_interactions:
- request:
    method: get
    uri: https://watsi.org/fund-treatments.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"287285783e9defd553389bce8c70b1fc"
    body:
      encoding: ASCII-8BIT
      string: '{"profiles":[{"id":7712,"token":"af6a6862ab21","name":"Mahendra","age_years":8,"age_months":null,"country":"Nepal","url":"https://watsi.org/profile/af6a6862ab21-mahendra","badge_url":"https://d3w52z135jkm97.cloudfront.net/uploads/profile/image/7712/badge_253ed1e4-515a-49f2-9152-74af0f41326f.jpg","profile_url":"https://d3w52z135jkm97.cloudfront.net/uploads/profile/image/7712/profile_253ed1e4-515a-49f2-9152-74af0f41326f.jpg","per_cent_funded":"7%","target":"$428","target_to_go":"$397
        to go","donated":"$31","number_of_donors":3},{"id":7698,"token":"555e72ce646a","name":"Ganesh","age_years":20,"age_months":null,"country":"Nepal","url":"https://watsi.org/profile/555e72ce646a-ganesh","badge_url":"https://d3w52z135jkm97.cloudfront.net/uploads/profile/image/7698/badge_9ce44911-e342-440f-959b-f337c9e274e0.jpg","profile_url":"https://d3w52z135jkm97.cloudfront.net/uploads/profile/image/7698/profile_9ce44911-e342-440f-959b-f337c9e274e0.jpg","per_cent_funded":"12%","target":"$579","target_to_go":"$509
        to go","donated":[...]
